config DATARESPONS_VIDEO_VDMA
	tristate "Data Respons VDMA Driver"
	help
	  Enable support for Data Respons driver

config DATARESPONS_VIDEO_MIXER
	tristate "Data Respons Video Mixer"
	help
	  Data Respons Video Mixer configuration driver

config DATARESPONS_VIDEO_TPG
	tristate "Data Respons Video Test Pattern Generator"
	help
	  Data Respons Video Test Patterm Generator configuration driver
